/* ESTILOS GENERALES */

* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", Helvetica, Arial;
}

body {
  background-color: rgb(243, 212, 243);
}

a {
  color: #0c0b0b;
}

a:visited {
  color: #131212;
}

a:hover {
  color: #fc72a1;
}

.alert_ok {
  color: #4aa34a;
  padding-bottom: 40px;
}

.alert_bad {
  color: red;
}

table {
  text-align: center;
  border-bottom: 1px solid #ccc;
  width: 100%;
  margin-top: 15px;
}

td {
  border-top: 1px solid #ccc;
  padding: 2px;
  margin: 10px;
  height: 20px;
}

th{
  margin-top: 10px;
  height: 38px;
  background-color: #fc72a048;
}

tr:hover {
  background-color: #fc72a048;
}
a,
#container {
  padding: initial;
  margin: initial;
}
/* CONTAINER */

#container {
  width: 85%;
  margin: 0px auto;
  box-shadow: 0px 0px 333px #ccc;
  background-color: rgba(255, 255, 255, 0.959);
}
/*ESTILOS HEADER*/

#header {
  height: 152px;
  margin-top: -17px;
}

#logo {
  padding: 20px;
  margin-left: 20px;
  float: left;
}

#logo img {
  width: 248px;
  margin-top: -43px;
}



#logo a {
  font-size: 55px;

  letter-spacing: 4px;
  font-family: "Open Sans", Helvetica, Arial;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  padding: 41px;
  text-shadow: 0px 1px 1px #313030;
  transition: all 300ms;
  position: absolute;
  top: 8%;
  left: 53%;
  transform: translate(-50%, -50%);

}

/*MENU*/

#menu {
  background: #222;
  border-bottom: 2px solid #fc72a1;
  margin-top: 7px;
}

#menu ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

#menu ul li {
  line-height: 48px;
  float: left;
  /* border-right: 1px solid white; */
}

#menu a {
  /* display: block; */
  color: white;
  text-decoration: none;
  letter-spacing: 2px;
  padding: 0px 50px;
  letter-spacing: 1px;
  font-weight: 600;
}

/* #menu a:first-child {
  border-left: 1px solid #685d5d;
  border-right: 1px solid #685d5d;
} */

/* #menu a:hover {
  /* box-shadow: 0 0 5px rgba(87, 78, 78, 0.849); */
/* font-size: 15px;
} */

/*CONTENIDO*/
#content {
  margin: 0px;
  overflow: hidden;
  background: white;
}

/* BARRA LATERAL*/

#lateral {
  min-height: 702px;
  float: left;
  margin-top: -12px;
  margin-left: 10px;
  border-right: 1px solid #ccc;
}

#lateral .block_aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 31px;
  /* border: 2px solid red; */
}

#lateral h3 {
  display: block;
  color: black;
  width: 200px;
  text-align: center;
  padding-top: 15px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 16px;
  /* border: 2px solid linear-gradient(181deg, #fc72a1, #685d5d); */
  height: 35px;
  /* border-radius: 3px; */
  border-bottom: 2px solid #fc72a1;
  letter-spacing: 1px;
  font-family: "Open Sans", Helvetica, Arial;
}

#laterial ul {
  margin-top: 30px;
  margin-bottom: 120px;
}
#lateral ul li {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 20px;
  list-style: none;
}

/* FORMS*/
label {
  display: block;
  margin-top: 10px;
}
label,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  color: rgb(0, 0, 0);
}
select,
textarea {
  display: block;
  margin-top: 6px;
  margin-bottom: 2px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  color: rgb(0, 0, 0);
  width: 200px;
}
select {
  border: 1px solid #c9c9c9;
  box-shadow: 0px 0px 3px #140e0e inset;
  background: white;
  padding: 2px;
  color: grey;
  transition: all 300ms;
}

input[type="button"],
input[type="submit"],
button,
.button {
  display: block;
  border-radius: 3px;
  width: auto;
  padding: 8px;
  color: white;
  background: linear-gradient(181deg, #0c0d0e, #685d5d);
  border: 1px solid #0c0d0e;
  cursor: pointer;
}
.button {
  background: linear-gradient(181deg, #0c0d0e, #685d5d);
  color: white !important;
  text-decoration: none;
}
.button-small {
  width: 111px;
  text-align: center;
  margin-bottom: 20px;
  float: right;
  

}
.button-central{
  width: 111px;
  text-align: center;
  margin-bottom: 20px;
}

.button-small-carrito {
  width: 99px;
  text-align: center;
  margin: 20px;
  display: flex;
  justify-content: center;
}
.button-unidades{
  margin: 12px 15px
}

.button-acciones {
  margin: 10px 0px;
}

.miniatura {
  width: 100px;
}
label,
input[type="button"],
input[type="submit"],
button {
  display: block;
  margin-top: 16px;
}
/*CENTRAL*/
.label-centro{

  padding-top: 20px;
  max-width: 271px;
  margin: 0 auto;
}
.label-centro2{

  padding-top: 20px;
  max-width: 192px;
  margin: 0 auto;
}
#central {
  padding: 41px;
  overflow: hidden;
}

#central h1 {
  font-size: 25px;
  font-weight: normal;
  letter-spacing: 1px;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 0px;
}
/* PRODUCTOS */
.centro-web{
  display: flex;
  justify-content: center;
}

.product {
  width: 213px;
  float: left;
  margin-right: 20px;
  margin-top: 48px;
  text-align: center;
  margin-bottom: 10px;
}
.product a {
  text-decoration: none;
}

.product img {
  width: 200px;
  height: 134px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.img_carrito{
  height: 100px;
  display: block;
  margin: 10px auto;
}

.product h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.product p {
  font-weight: bold;
  color: #555;
  margin-bottom: 10px;
}

#detail-product {
  width: 100%;
}

#detail-product .image {
  display: block;
  width: 45%;
  float: left;
}

#detail-product img {
  display: block;
  width: 100%;
  float: left;
  margin-top: 40px;
}

#detail-product .button {
  width: 20%;
  text-align: center;
  margin-left: 55%;
  margin-top: -28px;
}

#detail-product .data {
  width: 51%;
  float: right;
  word-wrap: break-word;
}
#detail-product .description {
  margin: 40px 0px;
  font-size: 20px;
}

#detail-product .price {
  font-size: 20px;
  margin-left: 31%;
}

/*CARRITO*/

.total-carrito{
  float: right;
}
.button-buy{
  float: right;
  margin-top: 20px;

}
.button-clean{
  float: left;
}
a.mails{
  margin-left: 400px;
}
/*FOOTER*/
#footer {
  clear: both;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #222222;
  color: white;

}
